<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'authentication/styles.css' %}">
  <title>Log in</title>
</head>
<body>
  <h1>Log in to your account</h1>
  {% if error %}
    <div class="error-msg">
      <p>{{error}}</p>
    </div>
  {% endif %}
  <form
    action="{% url 'authentication:login'%}"
    method="post"
    class="form">
    {% csrf_token %}
    <label for="username">Username</label>
    <input id="username" type="text" name="username" maxlength="200" required>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" maxlength="200" required>
    <input type="submit" value="Log in">
  </form>
  <p>Don't have an account yet? <a href="{% url 'authentication:signup' %}">Sign up here.</a></p>
</body>
</html>