body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}

.form > input {
  margin-bottom: 1rem;
}

.error-msg {
  background-color: red;
  color: white;
  border-radius: 1rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  margin-block: 1rem;
}